* {
    
}

h1 {
    text-align: center;
    border: 2px solid black;
    background-color: blue;
    color: antiquewhite;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#btn {
    margin-top: 5px;
    background-color: blue;
    color:antiquewhite;
}

#btn:hover {
    background-color: aqua;
}

#weather1 {
    text-align: center;
}